:root{
    --light:#ffffff;
    --success: #0abf30;
    --error: #e24d4c;
    --warning: #e9bd0c;
    --info:#3498db;
}
body{
    margin:0;
    box-sizing:border-box;
    display:flex;
    justify-content:center;
    min-height:100vh;
    align-items:center;
    background-color:#414b79;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.notifications{
    position:fixed;
    top:30px;
    right:20px;
    /* background-color:var(--light); */
    
}
.notifications :where(.toast, .column){
    display:flex;
    align-items:center;
    /* justify-content:center; */
}
.notifications .toast{
    list-style:none;
    position:relative;
    width:400px;
    overflow:hidden;
    padding:15px 16px;
    border-radius:5px;
    margin-bottom:10px;
    background-color:var(--light);
    justify-content:space-between;
    animation: show_toast .3s ease forwards;
}
@keyframes show_toast {
    0%{
        transform: translateX(100%);
    }
    40%{
        transform:translateX(-5%);
    }
    80%{
        transform:translateX(0%);
    }
    100%{
        transform:translateX(-10px);
    }
}
.toast::before{
    position:absolute;
    content:"";
    height:3px;
    width:100%;
    background-color:red;
    bottom:0;
    left:0;
    animation:progress 5s linear forwards;
}
@keyframes progress {
    100%{
        width:0%;
    }
    
}

/* Toast hide */
.notifications .toast.hide{
    animation: hide_toast 0.3s ease forwards;
}
@keyframes hide_toast {
    0%{
        transform: translateX(-10px);
    }
    40%{
        transform:translateX(0%);
    }
    80%{
        transform:translateX(-5%);
    }
    100%{
        transform:translateX(calc(100% + 20px));
    }
}




.toast.success::before, .btn#success{
    background:var(--success);
}
.toast.error::before, .btn#error{
    background:var(--error);
}
.toast.warning::before,.btn#warning{
    background:var(--warning);
}
.toast.info::before,.btn#info{
    background:var(--info);
}
.toast.success .column i{
    color:var(--success);
}
.toast.error .column i{
    color:var(--error);
}
.toast.warning .column i{
    color:var(--warning);
}
.toast.info .column i{
    color:var(--info);
}
.toast .column span{
    margin-left:14px;
}
.fa-xmark{
    color:#59595b;
    cursor:pointer;
}
.fa-xmark:hover{
    color:black;
}
/* button */
.btn{
    padding:15px 25px;
    margin:5px;
    color:var(--light);
    border-radius:5px;
    border:none;
    outline:none;
    font-size:18px;
    cursor:pointer;
}
.codelink{
    position:fixed;
    right:20px;
    bottom:20px;
    /*  I want this to be text gradient */ 
    font-weight:700;
    font-size:18px;
    background:linear-gradient(to left,var(--success),var(--warning));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    border:none;
    padding:5px 20px;
    border-radius:5px;
    cursor:pointer;
}